.DS_Store
node_modules
/sentc/dist
/sentc_light/dist
/sentc/lib
/sentc_light/lib
/sentc_common/lib

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

.idea/